.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(89, 84, 84);
    color: white;
    margin-top: auto;
    height: 100px;
    /* bottom: 0; */
}
.bran-name-copywrite{
    font-size: 1.5rem;
    margin: .5rem;
}
.footer-social ul {
    margin: 0;
    padding: 0;
    display: flex;
}
.footer-social li {
    list-style: none;
}
.footer-social li a{
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}
.footer-social:hover{
    background-color: #555;
}